.stats-grid:first-child:before {
    content: "🔥";
    font-size: 32px;
}

.stats-grid:last-child {
    background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
}

.stats-grid:last-child > .stat-number,
.stats-grid:last-child > .stat-label {
    color: white;
}

.stats-grid:hover {
    position: relative;
    bottom: 5px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5);
}